body {
    background-color: #fff387;
}
.jumboClass {
    padding-top: 2%;
    padding-bottom: 2%;
}
.nav-item:hover {
    
    font-size:110%;
}
.heading {
    padding-top: 3%;
}
footer{
    font-size: 90%;
    padding-left: 3%;
    margin-top: -3%;
}
.teachList {
    font-size: 85%;
    margin-left: -7%;
}
.top-nav {
    padding-left: 5%;
}
img {
    width: 60%;
    height: auto;
}

  


/* gul farve: #fff387 */